footer{
    width: 100%;
    background-color: #626A0A;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}


.logo-footer img{
    width: 181px;
    margin: 20px;
}

.copyright{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #BCBC2A;
    margin-left: 10px;
    margin-bottom: 1px;
    margin-top: 57px;

}
.newslatter {
    margin-left: 282px;
    margin-top: -223px;
}

.socialNetworks{
    margin-left: 25%;
}

.socialNetworks img {
    /* opacity: 0%; */

    width: 50px;
    margin-left: 100px;
    margin-left: 92px;
}

.social{
    margin: 50px;
}

.termos {
    margin-left: 1115px;
    margin-top: -78px;
    list-style: none;
    
}

.termos li{
    list-style-type: none;
   
}

.termos a{
    text-decoration: none;
    color: #BCBC2A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
  
}

.sobre-nos{
    margin-left: 130px;
}

.politica{
    margin-left: 39px;
}

footer .newslatter input {
    margin-bottom: 14px;
    border-radius: 89px;
    width: 372px;
    height: 24px;
    border: 1px solid #e6ecf0;
    text-align: center;
    margin-left: -99px;
    margin-top: 10px;

}


label {
    /* font-weight: bold; */
    font-size: 20px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-left: -31px;

}


.newslatter button {
    min-height: 30px;
    width: 150px;
    border-radius: 30px;
    border: 0px;
    background-color: #353D01;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 25px;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 3px;
    color: #BCBC2A;
    text-align: center;
    margin-left: 5px;
   
}